.issue {
    margin: 16;

    .title {
        color: #666666;
        font-size: 16;
        margin: 16 16 2 0;
        text-align: left;
        horizontal-align: left;
    }
    .labels {
        horizontal-align: left;
        vertical-align: top;
        margin: 4 0;

        .label {
            margin: 0 4 0 0;
            padding: 2 6;
            text-align: center;
            font-size: 10.5;
            font-weight: 700;
            border-radius: 6;
        }
    }

    .body {
        margin: 16 0;
    }
    .comments {
        margin: 8 0;
    }

    .comment {
        margin: 16 0;
        .avatar {
            width: 40;
            height: 40;
            border-radius: 20;
            background-color: #EEF2F2;
        }
    }

    .asignees {
        horizontal-align: left;
        vertical-align: top;
        margin: 16 16 16 4;

        .assignee {
            margin: 0 0 0 -18;
            width: 58;
            height: 40;
            background-color: #EEF2F2;
            border-radius: 20;
            border-width: 2;
            border-color: #FFFFFF;
        }
        .assignee.first {
            margin: 0;
            width: 40;
        }
    }
}