.issue {
    .title {
        margin: 16 4 0 16;
        horizontal-align: left;
        vertical-align: top;
        font-size: 16;
        font-weight: 700;
        color: #666666;
    }
    .labels {
        horizontal-align: left;
        vertical-align: top;
        margin: 0 4 0 14;

        .label {
            margin: 2;
            padding: 2 6;
            text-align: center;
            font-size: 10.5;
            font-weight: 700;
            border-radius: 6;
        }
    }
    .asignees {
        horizontal-align: right;
        vertical-align: top;
        margin: 16 16 16 4;

        .assignee {
            margin: 0 0 0 -18; /* TODO: All except the last or first */
            width: 58;
            height: 40;
            background-color: #EEF2F2;
            border-radius: 20;
            border-width: 2;
            border-color: #FFFFFF;
        }
        .assignee.first {
            margin: 0;
            width: 40;
        }
    }
}