<ActionBar title="Milestone">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout>
    <ListView row="2" [items]="issues" rowHeight="72">
        <template let-issue="item">
            <GridLayout class="issue" rows="auto, auto">
               <Label class="title" [text]="issue.title"></Label>
               <StackLayout class="labels" row="1" orientation="horizontal">
                   <Label class="label" *ngFor="let label of issue.labels" [text]="label.name" [backgroundColor]="label.color | backgroundColor"></Label>
               </StackLayout>
            </GridLayout>
        </template>
    </ListView>
</GridLayout>