<ActionBar title="Repos">
</ActionBar>
<GridLayout rows="auto, *">
    <SearchBar #searchbar row="0" hint="Search" [text]="searchPhrase" (clear)="onClear()" (submit)="onSearch(searchbar.text)"></SearchBar>
    <ListView row="1" [items]="repositories" rowHeight="72" (itemTap)="onRepositoryTap($event)">
        <template let-repository="item">
            <GridLayout class="repo" rows="auto, auto" columns="auto, *">
                <Image class="icon" rowSpan="2" [src]='repository.owner.avatar_url'></Image>
                <Label class="title" row="0" col="1" [text]='repository.full_name'></Label>
                <Label class="private" row="0" col="1" text="private" [visibility]="repository.private ? 'visible' : 'collapsed'"></Label>
                <Label class="status" row="1" col="1" [text]='"★" + repository.watchers + " &#09;⑂" + repository.forks + " &#09;🐛 " + repository.open_issues'></Label>
            </GridLayout>
        </template>
    </ListView>
    <ActivityIndicator [busy]="loading"></ActivityIndicator>
</GridLayout>
