ActivityIndicator {
    horizontal-align: center;
    vertical-align: center;
    width: 40;
    height: 40;
}

.repo {
    .icon {
        width: 40;
        height: 40;
        margin: 16 16 16 22;
        vertical-align: top;
        horizontal-align: left;
        border-radius: 6;
        background-color: #EEF2F2;
    }
    .title {
        margin: 16 0 0 0;
        horizontal-align: left;
        vertical-align: top;
        font-size: 16;
        font-weight: 700;
        color: #666666;
    }
    .status {
        margin: 4 0 0 0;
        horizontal-align: left;
        vertical-align: top;
        font-size: 10.5;
        font-weight: 300;
        color: #AAAAAA;
    }
}
