.avatar {
    width: 94;
    height: 94;
    background-color: #EEF2F2;
    border-color: #AAAAAA;
    border-radius: 47;
    border-width: 1;
    margin: 16;
}

.key {
    margin: 4;
    color: #AAAAAA;
    horizontal-align: right;
    text-align: right;
}

.value {
    margin: 4;
    color: #666666;
    horizontal-align: left;
    text-align: left;
}